:root {
  --font-family: 'Agdasima', sans-serif;
  --size: 1rem;
  --font-size: clamp(2rem, 4vw + 1rem, 3rem);
  --color-light: hsl(0deg 0% 60%);
  --surface: hsl(0deg 0% 100%);
  --highlight: hsl(0deg 0% 10%);
}

@media(prefers-color-scheme: dark) {
  :root {
    --surface: hsl(0deg 0% 10%);
    --highlight: hsl(0deg 0% 90%);
  }
}

.text-light {
  color: var(--color-light);
}

body {
  margin: 0;
  color: var(--highlight);
  background-color: var(--surface);
}

table {
  width: 100%;
}

h2, h3 {
  margin-block: 0;
}

.App {
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: grid;
  margin: var(--size);
  gap: var(--size);
  grid-template-columns: repeat( auto-fit, minmax(25ch, 1fr) );
}

.Card {
  padding: var(--size);
  border: 0.25rem solid black;
  border-radius: 0.5rem;
}

.List {
  display: grid;
}

.Section {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
