:root {
  --font-family: 'Agdasima', sans-serif;
  --size: 1rem;
}

body {
  margin: 0;
}

.App {
  font-family: var(--font-family);
  display: grid;
  margin: var(--size);
  gap: var(--size);
  grid-template-columns: repeat(3, 1fr);
}

.Card {
  padding: var(--size);
  border: 0.25rem solid black;
  border-radius: 0.5rem;
}

.List {
  display: grid;
}

.Section {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
